* {padding: 0; margin: 0; font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Arial, sans-serif; font-weight: 300;}

body {
    background-image: url("../bg.png");
}

#form {
    margin-top: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt_holder {
    width: 450px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

span {
    background-color: whitesmoke;
}

textarea {
    overflow: auto;
    width: 450px;
    height: 100px;
    background: #f6f6f6;
    border: 1px solid #cecece;
    border-radius: 5px;
    padding: 8px 0 8px 10px;
    font-size: 12pt;
    transition: 0.25s;
}

textarea:focus, input:focus {
    border: 4px solid #6383a8;
}

input {
    width: 100px;
    height: 30px;
    background: #f6f6f6;
    border: 1px solid #cecece;
    border-radius: 5px;
    padding: 8px 0 8px 10px;
    font-size: 18pt;
    transition: 0.25s;
}

label {
    font-size: 18pt;
}

.submit_btn {
    width: 100%;
    height: 50px;
    margin-bottom: 3px;
}

.area_small {
    margin-top: 30%;
    margin-right: 5px;
    width: 250px;
    background: #f6f6f6;
    border: 1px solid #cecece;
    border-radius: 5px;
    padding: 8px 0 8px 10px;
    font-size: 18pt;
}

#abs {
    position: absolute;
    left: 10%;
    margin-top: 35%;
    max-width: 80%;
}